    body {
      font-family: Verdana, Arial, sans-serif;
      text-align: center;
      background-color: white;
    }
    main {
      display: block;
      padding: 20px;
      background-color: white;
      color: #000000;
    }
    header {
      color: SeaShell;
      text-shadow: 5px 5px SteelBlue;;
      font-size: 150%;
      padding: 10px 10px 10px 155px;
      background-image: url(https://thumbs.dreamstime.com/b/mathematical-vector-seamless-pattern-geometrical-plots-formulas-calculations-endless-texture-you-can-use-any-color-69061063.jpg);
    }
    h1 {
      margin-bottom: 20px;
    }
    h2 {
      color: SeaGreen;
      font-family: arial, sans-serif;
    }
    footer {
      font-size: 70%;
      text-align: center;
      clear:right;
      padding: 20px;
      background-color: #869dc7;
    }
    a {
      color: white;
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightsteelblue;
      display: inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:link {
color: white;
  
}

    li a:visited {
      color: snow;
    }
    li a:hover {
      color: palevioletred;
    }

*{box-sizing: border-box;}
.images {display: none;}
img {vertical-align: middle;}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#description{
font-size: 20px;
background-color: SeaShell;
 	padding-bottom: 50px;
 	text-align: center;
 	font-family: sans-serif;
 	padding: 50px 200px 50px 100px;
 border-style: ridge;
 border-color: LemonChiffon;
}

#videos {
   list-style-type: none;
  overflow: hidden;
      display: inline-block;
}